.label {
    -fx-font-family: 'Arial';
    -fx-font-size: 1.3em;
}

.button {
	-fx-background-color: transparent;
    -fx-font-family: 'Arial';
    -fx-font-size: 1.3em;
    -fx-padding: 0
}

.text-field {
    -fx-font-family: 'Arial';
    -fx-font-size: 1.3em;
    -fx-alignment: center-left;
}

.spacer {
    -fx-spacing: 10;
    -fx-alignment: center;
}

.container {
    -fx-padding: 5;
}

.header {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

#timingKeysControls {
    -fx-padding: 5;	
}

.even-row {
	-fx-background-color: lightgray;
}